<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>textUtils</title>
</head>
<body>
<h1>Welcome to the text analyzer.Enter your text below</h1>
<form action="/analyze" method="get">
    <textarea name='text' style='margin: 0px; width: 567px; height: 146px;'></textarea><br>
    <input type="checkbox" name = "removepunc"> remove punctuations<br>
    <input type="checkbox" name = "fullcaps"> UPPERCASE<br>
    <input type="checkbox" name = "newlineremover">New line remover<br>
        <input type="checkbox" name = "extraspaceremover">extraspaceremover<br>
    <button type="submit">Analyze Text</button>


</form>>
</body>
</html>